@import url(//fonts.googleapis.com/css?family=Merriweather+Sans:300);

html {
	height: 100%;
}

body {
	margin: 0px 0px 0px 0px;
	height: 100%;
	background-color: #fff;
}

#global {
	width: 100%;
	height: auto;
	margin: 0px auto;
	background-color: #fff;
}

header {
	height: 140px;
	margin: auto;
	width: 100%;
}

#header-up {
	background-image: url(../images/header.png);
	height: 100px;
	margin: auto;
	width:900px; /* probá una medida en px si querés */

}

#header-login {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	color: #fff;
	height: 35px;
	margin: auto;
	line-height: 34px;
	width: 900px; /* probá una medida en px si querés */
}

nav {
	width: 900px;
}

#header-down {
	width: 900px;
	height: 70px;
	background-color: #acc7e7;
	margin: 3px auto;
	border-radius: 0px 0px 10px 10px;
}

#header-container {
	height: 100px;
	width: 900px;
	margin: auto;
}

#logo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	margin-top: 30px;
	padding-left: 20px;
	width: 300px;
	height: 40px;
	background-color: #0000;
	float: left;
}

#company {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 19px;
	width: 350px;
	height: 40px;
	background-color: #0000;
	float: right;
	text-align: left;
	padding: 0px 20px 0px 0px;
	margin-top: 30px;
	color: #fff;
}

#hora_seccion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 19px;
	width: 40px;
	height: 40px;
	background-color: #0000;
	float: right;
	text-align: right;
	padding: 0px 20px 0px 0px;
	margin-top: 0px;
	color: #fff;
}

#menu {
	width: 750px;
	height: 40px;
	margin: 0 auto 0 auto;
	float: left;
}

#container { 
	width: 900px;
	margin: 0px auto;
	min-height: 200px;
	height: auto;
	padding-top: 40px;
	padding-bottom: 20px;
}

footer {
	width: 900px;
	height: 70px;
	background-image: url(../images/footer.png);
	margin: 10px auto;
}

#login {
	width: 400px;
	height: 230px;
	margin: 0px auto;
	border: 0px #ccc solid;
	background-color: #f9f9f9;
	padding: 20px;
}

#login-user {
	width: 300px;
	height: 50px;
	margin: 0px auto;
	border: 0px #ccc solid;
	background-color: #f9f9f9;
	overflow: hidden;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: right;
	border: 0px #999 solid;
	vertical-align: top;
}

#login-padding {
	padding-top: 10px;
}

#login-user input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 242px;
	height: 38px;
	border: 1px #999 solid;
	padding: 2px 2px 2px 8px;
	color:#999;
	float: left;
}

.title-module {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 16px;
}

#logout {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #3375B7;
	font-weight: bold;
	text-align: center;
	width:500px;
	margin: 80px auto;
}

/* ------------------------------------------
   ENCABEZADO
------------------------------------------- */

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #0053a5;
	margin-bottom: 30px;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #3375B7;	
	margin-bottom: 20px;
}

/* ------------------------------------------
   LINK
------------------------------------------- */

a, a:visited {
	font-weight: bold;
	color:#1f73a7;
	font-size:12px;
}

a.logout:link {text-decoration: none; color: #fff;}
a.logout:visited {text-decoration: none; color: #fff;}
a.logout:active {text-decoration: none; color: #fff;}
a.logout:hover {text-decoration: none; color: #fff;}


/* ------------------------------------------
   TABLA
------------------------------------------- */

table {
	width: 100%;
	border-collapse: collapse;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

th {
	font-weight: bold;
	text-align: left;
	color: #00369d;
	padding: 10px;
	background-color: #e1ebf7;
	border-left: 1px solid #3375B7;
	border-right: 1px solid #3375B7;
	border-bottom: 1px solid #3375B7; 
	border-top: 1px solid #3375B7;
}

td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #00369d;
	text-align: left;
	padding: 6px 10px 10px 10px;
	height: 35px;
	border: 1px solid #3375B7;
}

.td-dialog {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #00369d;
	text-align: left;
	padding: 0px 4px 0px 4px;
	height: 20px;
	border: 1px solid #3375B7;
}

.th-nocolor {
	padding: 10px;
	background-color: #fff;
	border-left: 0px solid #3375B7;
	border-right: 0px solid #3375B7;
	border-bottom: 1px solid #3375B7; 
	border-top: 0px solid #3375B7;
}

.tr-color {
	background-color: #f7f9fd;
}


.scroll-table {
	width: 1400px;
	border-collapse: collapse;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.frame-scroll-table {
	overflow:scroll;
	width:890px;
	height: 500px;
}

/* ------------------------------------------
   FORMULARIO
------------------------------------------- */

.frm-button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	border: 0px solid #fff;
	border-radius: 10px;
	background-color:#0a448a;
	background-image: -webkit-linear-gradient(top, #3498db, #0a438a);
	background-image: -moz-linear-gradient(top, #3498db, #0a438a);
	background-image: -ms-linear-gradient(top, #3498db, #0a438a);
	background-image: -o-linear-gradient(top, #3498db, #0a438a);
	background-image: linear-gradient(to bottom, #3498db, #0a438a);
	min-width: 100px;
	color: #fff;
	height:30px;
}

.button-img {
	cursor: pointer;
}

a.tip {
    text-decoration: none;
}
a.tip:hover {
    position: relative;
	text-decoration: none;
}
a.tip span {
    display: none;
	text-decoration: none;
}
a.tip:hover span {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #a47e39;
    padding: 8px 12px;
    display: block;
    z-index: 100;
	border: #83662c 1px solid;
    background: #fef0b3;
    left: 0px;
    margin: 10px;
    width: auto;
	white-space: nowrap;
    position: absolute;
    top: 10px;
    text-decoration: none;
}

.message {
	font-family: 'Open Sans';
	font-size: 12px;
	display: inline-block;
	line-height: 20px;
	background-color: #d2dfe4;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 15px;
	color:#666;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	margin-bottom: 15px;
}

.show-message {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	display: inline-block;
	line-height: 20px;
	background-color: #fef0b3;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 15px;
	color: #a47e39;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	margin-bottom: 15px;
}

.show-message-small {
	font-family: 'Open Sans';
	font-size: 12px;
	max-width: 100px;
	line-height: 20px;
	background-color: #d2dfe4;
	padding: 5px;
	color:#666;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

.module-title {
	font-family: 'Merriweather Sans';
	font-size: 22px; 
	color:#009ed7;
	margin-bottom: 30px;
}

.frm {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #004795;
	padding: 5px 13px 5px 13px;
	background-color:#fff;
	border:1px solid #ccc;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	float: left;
	margin-bottom: 10px;
}

.frm-on {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #a47e39;
	padding: 5px 13px 5px 13px;
	background-color:#fef0b3;
	border:1px solid #ccc;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	float: left;
	margin-bottom: 10px;
}
	
.frm:focus{
	border-color:#66afe9;
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(206,221,234,0.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px rgba(206,221,234,0.6)
}

.pagination-container {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
	width: 100%;
	float: left;
}

a.pag-off:link, a.pag-off:visited, a.pag-off:active {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration: none; 
	color: #acc7e7;
	padding: 6px 6px 6px 6px;
}

a.pag-off:hover, .pag-on {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration: none; 
	color: #2c74b6;
	padding: 6px 6px 6px 6px;
}

.frm-label-small {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #004795;
	width: 260px; 
	border: 0px solid #000; 
	float: left; 
	margin: 3px 30px 10px 0px;
}

.frm-label-medium {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #004795;
	width: 410px; 
	border: 0px solid #000; 
	float: left; 
	margin: 3px 30px 10px 0px;
}

.frm-label-big {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #004795;
	width: 890px; 
	border: 0px solid #000; 
	float: left;
	margin: 3px 0px 10px 0px;
	text-align: left;
}

legend {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight: bold;
	color: #004795;
}

fieldset {
	font-family: 'Open Sans';
	width: 250px;
	border: 1px solid #ccc;
	padding-top: 20px;
}

label, input=[text] {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #004795;
	width: 60px;
	height: 30px;
	padding-right: 20px;
	border: 0px solid #ccc;
	float: left;
	
}

label {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #004795;
	width: 100px;
	height: 30px;
	padding-right: 15px;
	border: 0px solid #000;
	float: left;
	
}

.div-label {
	padding-left: 115px;
}

br {
	clear: left;
}
